<div class="pure-g">
<section class="posts pure-u-1">
  <% @posts.each_with_index do |post, i| %>
    <%= render partial: "post/post", locals: { post: post, show_channel: true, i: i } %>
  <% end %>
</section>
</div>